[submodule "snesclassicstuff"]
	path = snesclassicstuff
	url = https://github.com/Skarsnik/snesclassicstuff.git
[submodule "EmuNWAccess-qt"]
	path = EmuNWAccess-qt
	url = https://github.com/black-sliver/EmuNWAccess-qt.git
[submodule "Button-Mash"]
	path = Button-Mash
	url = https://github.com/Skarsnik/Button-Mash.git
